{{ define "index" }}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/index.css">
  <title>Super Blog - Main page</title>
</head>
<body>
  {{ template "header" . }}

  {{ range .lastArticles }}
    <div class="article-container">
      <div class="article-header">
        <h1 class="article-title">{{ .Title }}</h1>
        <div class="article-meta">
          <img src="{{ .UserAvatar }}" alt="{{ .Username }}'s avatar" class="avatar">
          <div class="author-info">
            <a href="/profile/{{ .Username }}"><span class="author-name">{{ .Username }}</span></a>
            <span class="date">{{ .DateAdded.Format "02 Jan 2006 15:04" }}</span>
            </div>
        </div>
      </div>
      <div class="article-body">
        <p>{{ if gt (len .Text) 200 }}{{ slice .Text 0 200 }}...{{ else }}{{ .Text }}{{ end }}</p>
      </div>
      <div class="read-more">
        <a href="/article/{{ .ID }}" type="button" class="btn btn-outline-info">Read more</a>
      </div>
    </div>
  {{ end }}
</body>
</html>

{{ end }}
