{{ define "search" }}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/search.css">
  <title>Search results for: {{ .query }}</title>
</head>
<body>
  {{ template "header" . }}

  <div class="articles-section">
    {{ if .data }}
    {{ range .data }}
      <a href="/article/{{ .ID }}" class="article-link">{{ .Title }}</a>
    {{ end }}
    {{ else }}
      <div>Nothing here...</div>
    {{ end }}
  </div>
</body>
</html>

{{ end }}
