{{ define "search" }}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search results for: {{ .query }}</title>
  <style>
    .articles-section {
      flex: 2;
      padding-left: 20px;
    }
    .article-link {
      color: cadetblue;
      text-decoration: none;
      display: block;
      margin-bottom: 10px;
    }
    .article-link:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>
  {{ template "header" . }}

  <div class="articles-section">
    {{ if .data }}
    {{ range .data }}
      <a href="/article/{{ .ID }}" class="article-link">{{ .Title }}</a>
    {{ end }}
    {{ else }}
      <div>Nothing here...</div>
    {{ end }}
  </div>
</body>
</html>

{{ end }}
